<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dhilip_25.helloworld">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Notify" />
        <service android:name=".Notify2" />
        <service android:name=".Notify3" />
        <service android:name=".Notify4" />
        <service
            android:name=".MyService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.dhilip_25.helloworld" />
            </intent-filter>
        </service>
        <service
            android:name=".TimerService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.dhilip_25.helloworld" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Voice"
            android:label="@string/title_activity_voice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Edittime"
            android:label="@string/title_activity_edittime"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Example"
            android:label="@string/title_activity_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NumberPick"
            android:label="@string/title_activity_number_pick"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Intro"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Notificationview"
            android:label="@string/title_activity_notificationview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TimerPart"
            android:label="@string/title_activity_timer_part"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Plain"
            android:label="@string/title_activity_plain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".End"
            android:label="@string/title_activity_end"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
